
<div class="title-page">
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
  <li class="breadcrumb-item active" aria-current="page">
    <%= link_to 'Cursos', courses_path %>
  </li>
    <li class="breadcrumb-item " aria-current="page">Editar Instrutor</li>
  </ol>
  </nav>
</div>

<div class="content-page">
<%= render 'form', instructor: @instructor %>
</div>
