

<div class="title-page">
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
  <li class="breadcrumb-item active" aria-current="page">Home</li>
    <li class="breadcrumb-item " aria-current="page">Cadastrar Instrutor</li>
  </ol>
  </nav>
</div>

<div class="content-page">
<%= render 'form', instructor: @instructor %>
</div>
